<section class="extra">
  <h5 class="uppercase">Extra:</h5>
  <br>
  <h5>Hoe zoek je de pentatoniek die je over een nummer kan spelen?</h5>
  <br>
  <p>Zoek de tonica.</p>
  <p class="italic">Zet het nummer op. Luister en probeer de grondnoot (Tonica) te zingen.</p>
  <p class="italic">De Tonica is de noot die rust brengt en waarop het nummer eindigt. (tenzij het nummer gemoduleerd is)</p>
  <p class="italic">Als je dit te moeilijk vindt, spoel dan door naar het einde van het nummer. Bijna alle popnummers eindigen op de Tonica.</p>
  <p>Zoek deze noot (die je net gezongen hebt) op je instrument.</p>
  <p>Nu heb je 2 mogelijkheden: majeur-pentatoniek of mineur-pentatoniek.</p>
  <p>Speel een grote terts boven deze grondnoot. Klinkt het, dan moet je de majeur-pentatoniek gebruiken. Anders is het de mineur-pentatoniek die je moet zoeken.</p>
</section>
