<section class="extra">
  <h5 class="uppercase">Extra</h5>
  <p>Weet je nog, toen je voor het eerst een piano zag staan en je er mocht op spelen, hoe leuk dat was.</p>
  <p>Je speelde maar wat en vond al die klanken die eruit kwamen fantastisch. Je speelde laag, hoog, veel noten, één noot, luid, zacht. Op de duur vond je bepaalde opeenvolgingen van noten hypnotiserend en je voegde er nog wat lage noten aan toe. Zoveel plezier!</p>
  <p>Deze oefening is een beetje zoals die ervaring, maar dan met meer structuur.</p>
</section>
