<footer>
	<div class="todo">
		ToDo's
		<ul class="disc">
			<li>Woord vooraf --> verder afwerken</li>
			<li>Cantaloupe Island --> Scales uitleggen - Dm herstellingsteken wegwerken en Bb toevoegen kwestie van consequent te blijven: nm. dicht bij de toonaard</li>
			<li>2x4 noten: laatste notenbalk: 2 tonen verschil ipv 1 1/2</li>
			<li>findings collection zit nog niet goed in back-end</li>
			<li>Check nog even D-deel van shake everything you got in FUNK!</li>
		</ul>
	</div>
	<p>Luc Van Dijck</p>
</footer>
