/* =====================================================
	PAGE SPECIFIC STYLES
===================================================== */
h1 {
	font-family: var(--ff-1);
	font-size: 3.9em;
	font-weight: lighter;
	color: crimson;
}
h2 {
	font-family: "Hermes", sans-serif;
	font-size: 4.7em;
}
h3 {
	font-size: 2em;
	font-weight: 500;
	padding: 6px 5px;
}
.content h3 {
	padding: 6px 0;
}
h4 {
	font-family: "Hermes", sans-serif;
	font-size: 1.4em;
	color: #888;
	padding-left: 5px;
	padding-right: 5px;
}
footer {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 30px 5vw;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	font-weight: var(--fw-1);
}
.extra {
	width: 100%;
	padding: 1.2em;
	margin: 2em 0;
	background-color: #f6f6f6;
}
h5.mbt {
	margin-top: 10px;
	margin-bottom: 20px;
}
.todo {
	width: 80%;
}
