/* ===================================================== 
	PAGE SPECIFIC STYLES 
===================================================== */
h1 {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 3.9em;
	font-weight: lighter;
	color: crimson;
}
h2 {
	font-family: "Hermes", sans-serif;
	font-size: 4.7em;
}
h3 {
	font-size: 2em;
	font-weight: 500;
	padding: 6px 5px;
}
h4 {
	font-family: "Hermes", sans-serif;
	font-size: 1.4em;
	color: #888;
	padding-left: 5px;
	padding-right: 5px;
}
footer {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 5vw;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	font-weight: 300;
}