/* TOOLS EN BROWSER DEFAULT OVERRIDES */
.black {
	color: #000;
}
.red {
	color: crimson;
}
ul {
	list-style-type: none;
}
h4 a.black {
	color: #888;
	transition: color .3s;
}
h4 a.black:hover {
	color: crimson;
}
.center {
	text-align: center;
}
.row {
	width: 90vw;
	margin: 0 auto;
}
.small-h2 {
	font-size: 1.6em;
}
.uppercase {
	text-transform: uppercase;
}
pre {
	padding: 15px;
	background-color: #f6f6f6;
}
.disc {
	list-style-type: circle;
	margin-left: 42px;
	margin-bottom: 1em;
	font-family: var(--ff-1);
	font-weight: var(--fw-1);
	li {
		line-height: 1.8em;
	}
}
/* ===============================
		SVG tools --> width height adjustments
	================================ */
.width-svg {
	width: 70%;
}
.width-svg-wider {
	width: 82%;
}
.height-svg {
	height: 50px;
}
.height-svg-hoger {
	height: 54px;
}
.height-svg-hoogst {
	height: 62px;
}
.height2-svg {
	height: 118px;
}
.height2-hoger-svg {
	height: 166px;
}
.mt {
	margin-top: 1.6em;
}
.mtb {
	margin-top: 1.6em;
	margin-bottom: 1.6em;
}
