@font-face {
	font-family: Hermes;
	src: url(/assets/fonts/Hermes.ttf);
}
:root {
	/* COLORS */

	/* FONTS */

	--ff-1: "Helvetica Neue", sans-serif;
	--ff-2: "Hermes", sans-serif;
	--fw-1: 300;
	--fw-2: 400;

	/*
	--ff-1: "Roboto", sans-serif;
	--ff-2: "Hermes", sans-serif;
	--fw-1: 100;
	--fw-2: 300;
	*/
	/* Global default size
	======================= */
	--ds: 18px;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: var(--ds);
	font-family: var(--ff-1);
	font-weight: var(--fw-2);
	min-height: 100vh;
	position: relative;
}
main {
	display: grid;
	grid-template-columns: 27% 73%;
	min-height: 500px;
}
.content {
	margin-right: 5vw;
}
aside {
	margin-left: 5vw;
	margin-right: 27px;
	background-color: #fafafa;
}
nav {
	margin: 16px 0;
	a:hover {
		color: crimson;
	}
}
a {
	text-decoration: none;
	color: #888;
	padding-right: 15px;
}
a:hover {
	color: #000;
}
p {
	line-height: 1.4;
	padding-bottom: .67em;
	font-family: var(--ff-1);
	font-weight: var(--fw-1);
}
.navigation {
	padding-left: 5vw;
	margin-bottom: 26px;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
